In [1]:


import pandas as pd
df = pd.read_csv("/workspace/Affectnet/mapping_CK_annotation.csv")

In [2]:
df

     Unnamed: 0                                               path  label
0             0  D:\EXP_Data\CK plus\CK+48\anger\S010_004_00000...      0
1             1  D:\EXP_Data\CK plus\CK+48\anger\S010_004_00000...      0
2             2  D:\EXP_Data\CK plus\CK+48\anger\S010_004_00000...      0
3             3  D:\EXP_Data\CK plus\CK+48\anger\S011_004_00000...      0
4             4  D:\EXP_Data\CK plus\CK+48\anger\S011_004_00000...      0
..          ...                                                ...    ...
976         976  D:\EXP_Data\CK plus\CK+48\surprise\S137_001_00...      5
977         977  D:\EXP_Data\CK plus\CK+48\surprise\S137_001_00...      5
978         978  D:\EXP_Data\CK plus\CK+48\surprise\S138_004_00...      5
979         979  D:\EXP_Data\CK plus\CK+48\surprise\S138_004_00...      5
980         980  D:\EXP_Data\CK plus\CK+48\surprise\S138_004_00...      5

[981 rows x 3 columns]

In [3]:
df["path"]

0      D:\EXP_Data\CK plus\CK+48\anger\S010_004_00000...
1      D:\EXP_Data\CK plus\CK+48\anger\S010_004_00000...
2      D:\EXP_Data\CK plus\CK+48\anger\S010_004_00000...
3      D:\EXP_Data\CK plus\CK+48\anger\S011_004_00000...
4      D:\EXP_Data\CK plus\CK+48\anger\S011_004_00000...
                             ...
976    D:\EXP_Data\CK plus\CK+48\surprise\S137_001_00...
977    D:\EXP_Data\CK plus\CK+48\surprise\S137_001_00...
978    D:\EXP_Data\CK plus\CK+48\surprise\S138_004_00...
979    D:\EXP_Data\CK plus\CK+48\surprise\S138_004_00...
980    D:\EXP_Data\CK plus\CK+48\surprise\S138_004_00...
Name: path, Length: 981, dtype: object

In [4]:
import os

# "new_path" 열의 경로에서 역슬래시를 슬래시로 변경
df["path"] = df["path"].str.replace("\\", "/")

# 변경된 DataFrame 출력
print(df)

     Unnamed: 0                                               path  label
0             0  D:/EXP_Data/CK plus/CK+48/anger/S010_004_00000...      0
1             1  D:/EXP_Data/CK plus/CK+48/anger/S010_004_00000...      0
2             2  D:/EXP_Data/CK plus/CK+48/anger/S010_004_00000...      0
3             3  D:/EXP_Data/CK plus/CK+48/anger/S011_004_00000...      0
4             4  D:/EXP_Data/CK plus/CK+48/anger/S011_004_00000...      0
..          ...                                                ...    ...
976         976  D:/EXP_Data/CK plus/CK+48/surprise/S137_001_00...      5
977         977  D:/EXP_Data/CK plus/CK+48/surprise/S137_001_00...      5
978         978  D:/EXP_Data/CK plus/CK+48/surprise/S138_004_00...      5
979         979  D:/EXP_Data/CK plus/CK+48/surprise/S138_004_00...      5
980         980  D:/EXP_Data/CK plus/CK+48/surprise/S138_004_00...      5

[981 rows x 3 columns]

/tmp/ipykernel_6708/2591634340.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  df["path"] = df["path"].str.replace("\\", "/")

In [5]:
# 기준 경로 설정
base_path_current = "D:/EXP_Data"
base_path_new = "/workspace"

# "new_path" 열 추가
df["new_path"] = ""

# 각 행에 대해 경로 변경 수행
for index, row in df.iterrows():
    current_path = row["path"]
    
    # 기존 경로에서 기준 경로를 삭제하고, 새로운 경로로 변경
    relative_path = os.path.relpath(current_path, base_path_current)
    new_path = os.path.join(base_path_new, relative_path)
    
    # 변경된 경로를 DataFrame에 저장
    df.at[index, "new_path"] = new_path

In [6]:
df

,Unnamed: 0,path,label,new_path
0,0,D:/EXP_Data/CK plus/CK+48/anger/S010_004_00000...,0,/workspace/CK plus/CK+48/anger/S010_004_000000...
1,1,D:/EXP_Data/CK plus/CK+48/anger/S010_004_00000...,0,/workspace/CK plus/CK+48/anger/S010_004_000000...
2,2,D:/EXP_Data/CK plus/CK+48/anger/S010_004_00000...,0,/workspace/CK plus/CK+48/anger/S010_004_000000...
3,3,D:/EXP_Data/CK plus/CK+48/anger/S011_004_00000...,0,/workspace/CK plus/CK+48/anger/S011_004_000000...
4,4,D:/EXP_Data/CK plus/CK+48/anger/S011_004_00000...,0,/workspace/CK plus/CK+48/anger/S011_004_000000...
...,...,...,...,...
976,976,D:/EXP_Data/CK plus/CK+48/surprise/S137_001_00...,5,/workspace/CK plus/CK+48/surprise/S137_001_000...
977,977,D:/EXP_Data/CK plus/CK+48/surprise/S137_001_00...,5,/workspace/CK plus/CK+48/surprise/S137_001_000...
978,978,D:/EXP_Data/CK plus/CK+48/surprise/S138_004_00...,5,/workspace/CK plus/CK+48/surprise/S138_004_000...
979,979,D:/EXP_Data/CK plus/CK+48/surprise/S138_004_00...,5,/workspace/CK plus/CK+48/surprise/S138_004_000...
980,980,D:/EXP_Data/CK plus/CK+48/surprise/S138_004_00...,5,/workspace/CK plus/CK+48/surprise/S138_004_000...

In [7]:
# "Unnamed: 0"와 "path" 열 제거
df = df.drop(columns=["Unnamed: 0", "path"])

# "new_path" 열을 DataFrame 앞쪽으로 이동
df = df[["new_path", "label"]]

In [8]:

df = df.rename(columns={"new_path": "path"})

df

                                                  path  label
0    /workspace/CK plus/CK+48/anger/S010_004_000000...      0
1    /workspace/CK plus/CK+48/anger/S010_004_000000...      0
2    /workspace/CK plus/CK+48/anger/S010_004_000000...      0
3    /workspace/CK plus/CK+48/anger/S011_004_000000...      0
4    /workspace/CK plus/CK+48/anger/S011_004_000000...      0
..                                                 ...    ...
976  /workspace/CK plus/CK+48/surprise/S137_001_000...      5
977  /workspace/CK plus/CK+48/surprise/S137_001_000...      5
978  /workspace/CK plus/CK+48/surprise/S138_004_000...      5
979  /workspace/CK plus/CK+48/surprise/S138_004_000...      5
980  /workspace/CK plus/CK+48/surprise/S138_004_000...      5

[981 rows x 2 columns]

In [9]:
df.to_csv("mapping_CK_annotation.csv")